.btn {
  font-family: var(--font-fancy);
  padding: 1em 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  font-size: 0.9em;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: translateY(-4px);
    transition: transform 200ms ease;
  }
}

.btn-white {
  @include btn-color(var(--clr-neutral-100));
}
