$colors: (
  primary: (
    100: #dbe3e5,
  ),
  sun: (
    100: #fff3d0,
  ),
  heart: (
    500: #f8bcb7,
    900: #d35d6e,
  ),
  growth: (
    900: #046582,
  ),
  neutral: (
    100: #ffffff,
    600: #6e7582,
    900: #343a40,
  ),
  gray: (
    100: #6e7582,
  ),
);
