<head>
    <!-- META TAGS-->
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ $img := print .Permalink "/images/larm-rmah-AEaTUnvneik-unsplash.jpg" }}
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    <meta name="image" content="{{ $img | absURL }}">

     <!-- Open Graph data -->
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink | absURL }}" />
    <meta property="og:image" content="{{ $img | absURL }}" />
    <meta property="og:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />

     <!-- TODO: Twitter Card data -->
    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" content="@patif">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
    <meta name="twitter:creator" content="@patif">
    <meta name="twitter:image" content="{{ $img | absURL }}" />

    <!-- CSS & JS -->
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint}}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ $script := resources.Get "js/main.js" | minify | fingerprint }}
    <script defer src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>

    <!-- PWA -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet"> 
</head>