{{ define "main" }}
{{ $backgroundImage := relURL "images/ursa-bavcar-6O4zf9lga6Q-unsplash.jpg" }}
<div style="background-image: linear-gradient(120.4deg, rgba(0, 0, 0, 0.41) 49.44%, rgba(40, 22, 111, 0.222128) 97.4%),
            url('{{ $backgroundImage }}');" class="background-image">
</div>

<div class="hero">
    <span>
        <img src="images/logo-white.png" class="hero-logo" alt="">
    </span>
    <h4 style="color: white; text-align: center; margin-top: 2rem">COMING SOON...</h4>
</div>
{{ end }}