{{ define "main" }}
{{ $heroImg := relURL "images/larm-rmah-AEaTUnvneik-unsplash.jpg" }}
<section class="bg-primary-100">
    <div class="container hero-section">
        <div class="hero__content">
            <h2>A Patrick Iyere <span class="text-growth-900">Foundation</span></h2>
            <h1 class="hero-heading">We are all about <span class="text-heart-900">heart</span></h1>
            <p class="hero-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a class="btn btn-white" href="/about">Learn more</a>
        </div>
        <img class="hero-image" src="{{ $heroImg }}">
    </div>
</section>
<section class="block-message">
    <h1 class="text-fancy text-growth-900">Patrick Iyere Foundation is a charitable organization created for 2 main purposes</h1>
    <div >
        <p>
            To provide support for disadvantaged young people to achieve higher education 
            and life skills necessary for  self-sustenance.
        </p>
        <p>
            Provide a platform to create awareness of cardiovascular diseases, conduct 
            and support research and provide support for those affected. 
        </p>
    </div>
</section>
{{ end }}