.page-title {
  background: var(--clr-primary-100);
  padding-top: 10em;
  padding-bottom: 0.6em;
  margin-bottom: 3em;

  h1 {
    font-size: 3rem;
  }
}

.media {
  padding: 0 3em;
  display: flex;
  margin-bottom: 3em;

  &__heading {
    margin-right: 4em;
  }
  img {
    height: 60%;
    width: 70%;
    border-radius: 10px;
  }
}

.titlequote {
  margin-bottom: 3em;
  padding: 4em 9em;
  display: flex;
  justify-content: center;

  * {
    // flex-basis: 100%;
    margin-bottom: 0;
  }
  h1 {
    margin-bottom: 0;
    flex-basis: 40%;
  }
}

.objectives {
  h1 {
    text-align: center;
    margin-bottom: 1em;
  }
}

.objective {
  margin: 1em 2em;
  width: min-content;
  img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  p {
    text-align: center;
  }
}

.obj-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
